# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea
.vscode/

# Project directories
repomix
temp
output
outputs
tests/media/

# Audio files
*.wav
*.mp3
*.flac
vc_inputs/*.mp3
vc_inputs/*.wav
vc_inputs/*.flac
reference_audio/*/*.mp3
reference_audio/*/*.wav
reference_audio/*/*.flac
reference_audio/*/*.json
reference_audio/*.mp3
reference_audio/*.wav
reference_audio/*.flac
reference_audio/*.json

# Config
settings.json

# Logs
logs/
*.log

# Virtual environments
.venv/
venv/
.env
